@define-color foreground #eff0f1;
@define-color foreground-inactive #7f8c8d;
@define-color background #232629;
@define-color background-alt #31363b;

* {
    font-family: SF Pro, Font Awesome, sans-serif;
    font-size: 12px;
    font-weight: 700;
    padding: 0;
    margin: 0;
}

#waybar {
    color: @foreground;
    background-color: @background;
}

#workspaces button {
    padding-left: 0.2em;
    padding-right: 0.2em;
}

#workspaces button.empty {
    color: @foreground-inactive;
}

#workspaces button.active {
    color: @foreground;
    background-color: @background-alt;
    border-radius: 0;
}

#wireplumber,
#bat,
#tray,
#usage,
#net {
    background-color: @background-alt;
    border-radius: 0;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-left: 0.3em;
}

#battery,
#memory,
#language,
#network {
    margin-right: 0.8em;
}
